[user]
	name = Williston Hayes
	email = wshayes@gmail.com
[core]
	editor = vim
[merge]
	tool = vimdiff
[alias]
	co = checkout
	st = status
	dt = difftool
	graph = log --pretty=format:'%h %ae %s' --graph
[color]
	diff = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[credential]
	helper = cache
	halper = cache --timeout=7200
